fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.12
pydantic==2.9.2
 
pypdfium2==4.30.0
Pillow==10.4.0
opencv-python-headless==5.0.0.93

qdrant-client==1.11.3
sentence-transformers==3.2.1
 
ollama==0.3.3
geopy==2.4.1
numpy==1.26.4
python-dotenv==1.0.1